    <!-- Footer -->
    <footer class="footer bg-black text-white py-4">
        <div class="container text-center">
            <p>&copy; 2024 Atitlan Consulting. All rights reserved.</p>
            <div class="social-icons">
                <a href="#" class="text-white mr-3"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white mr-3"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </footer>