<!-- Updated Header/Navbar with Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo and Brand Name -->
        <a href="#" class="navbar-brand">
            <!-- <img src="img/logo-text-white.webp" alt="Logo with text" class="logo-text d-none d-md-inline"> -->
            <img src="img/logo_colour_fade_words_transparent.svg" alt="Logo with text" class="logo-icon d-none d-md-inline">
            <img src="img/LOGO_Colour_FADE.svg" alt="Logo without text" class="logo-icon d-inline d-md-none">
        </a>

        <!-- Navbar Toggler for Collapsible Menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#case-studies">Case Studies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>